body {
  font-family: 'Lato', sans-serif;
  color: #012a36;
  background: linear-gradient(#85e9ee, #85e9ee);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
